services:
  - type: web
    name: gst-billing-backend
    env: node
    rootDir: backend
    buildCommand: npm install && npm run build
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: ORIGIN
        value: https://gst-billing-frontend.onrender.com
  - type: static
    name: gst-billing-frontend
    rootDir: frontend
    buildCommand: npm install && npm run build
    publishPath: dist/gst-billing-frontend
