services:
  - type: web
    name: gst-billing-app
    env: node
    rootDir: backend
    buildCommand: |
      npm ci
      npm run build
      cd ../frontend
      npm ci
      npm run build
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: ORIGIN
        value: https://gst-billing-app.onrender.com
      - key: NODE_VERSION
        value: 18.20.4
